
.marginForm {
    margin-top: 30px;
}

.headerBand {
    background: url("../images/headerBackground.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron {
    margin-bottom: 0;
    padding: 0.5em 0.6em;
}

.jumbotron h1 {
    text-align: center;
    font-family: Rockwell, Tahoma, sans-serif;
    color: #000000;
    font-size: 2em;
}

.navbar {
    background-color: #cbc53a;
    margin-bottom: 0;
    border-radius: 5px;

}

.glyphicon-user {
    color: #eff5e2;
}

.accueil {
    text-align: center;
    margin: 20px;
}


table {
    width: 100%;
}

h1 {
    text-align: center;
    color: #76ba6e;
    size: 2em;
}

h4 {
    text-align: center;
}


.btn {
    margin: 1px;
}

.paddingleft {
    padding-left: 30px;
}


.navbar-inverse .navbar-brand {
    font-family: "Arial Rounded MT Bold", Tahoma, sans-serif;
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: "Arial Rounded MT Bold", Tahoma, sans-serif;
    color: #000000;
}

